section.capa{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.3)), #5e5e5e;
    background-size: 100% auto;
    padding: 30vw 10vw 30vw 10vw;
    text-align: center;
    border-bottom: 2px solid #fff;
    transition: all 2s;
    color: #fff;
}
section.capa-show{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.3)), url(../IMGS/servicos/capa-servicos.png) no-repeat center center;
    background-size: 100% auto;
    padding: 30vw 10vw 30vw 10vw;
}
/*================Capa==============*/
section.capa h2{
    font-size: 4rem;
    font-weight: 300;
    margin: 0 0 10px 0;
}
section.capa p{
    font-size: 1.5rem;
    font-weight: 200;
}
/*================Serviços==============*/
section.servicos ul li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
section.servicos ul li.branco{
    background: #ebebeb;
    color: #5e5e5e;
    padding: 4vw 0;
}
section.servicos ul li.cinza{
    background: #5e5e5e;
    color: #ebebeb;
    padding: 4vw 0;
}
section.servicos ul li div img{
    border-radius: 10px ;
    height: 400px;
    width: 300px;
}
section.servicos ul li.cinza div img{
    border: solid 1px #fff;
}
section.servicos ul li.branco div img{
    border: solid 1px #000;
}
section.servicos ul li div ul{
    display: flex;
    justify-content: center;
    width: 300px;
    flex-wrap: wrap;
}
section.servicos ul li div ul li img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: 3px;
    transition: all 0.5s;
}
section.servicos ul li div ul li img:hover{
    opacity: 0.5;
    cursor: pointer;
}
section.servicos ul li.cinza div ul li img{
    border: 0.5px solid #fff;
}
section.servicos ul li.branco div ul li img{
    border: 0.5px solid #000;
}
section.servicos ul li div h2{
    font-size: 3rem;
    font-weight: 300;
    margin: 2vw 0;
}
section.servicos ul li div p{
    margin: 1vw 0;
    font-size: 1.3rem;
}
section.servicos ul li div a{
    color: #ebebeb;
    border: 1px solid #000;
    background: #000;
    margin: 2vw 0;
    padding: 0 2vw;
    border-radius: 10px;
    transition: all 0.5s;
}
section.servicos ul li div a:hover{
    color: #000;
    background-color: #fff;
}